*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-repeat: no-repeat;
}
.tic {
    width: 255px;
    text-align: center;
    color: white;
    margin: auto;
    font-weight: 600;
    
    
}
.header {
    background-color: grey;
    padding: 10px 0;
    margin: 5px 0;
}
span {
    color: blueviolet;
}

.square {
    width: 80px;
    height: 80px;
    background-color:grey;
    font-size: 60px;
    float: left;
    margin: 2px;
    
}
.square:hover{
    background-color: blue;
    cursor: pointer;
}

