*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tic {
    width: 80%;
    text-align: center;
    color: white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px;
}
.tic div {
    background-color: #0a9396;
}

